@import "tailwindcss";


/* scrollbar */
.interaction::-webkit-scrollbar,
.search::-webkit-scrollbar {
  width: 8px;
}

.interaction::-webkit-scrollbar-track,
.search::-webkit-scrollbar-track{
  border-radius: 10px;
}

.interaction::-webkit-scrollbar-thumb,
.search::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 16px;
  border: 2px solid #2a2a2a; 
}

.interaction::-webkit-scrollbar-thumb:hover,
.search::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.interaction {
  scroll-behavior: smooth;
}

/* scrollbar */

.profile {
  transition: 0.2s;
box-shadow: rgba(104, 103, 103, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}